h1 {
    text-align: center;
    color:brown;
    background-color: burlywood;
}

p{
color:saddlebrown;
    background-color: burlywood;
}


ol{
    list-style-type: upper-roman;
    background-color:yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-left: 2%;
}
   

ul {
    font-weight: 900;
    list-style-type: square;
    margin-left: 5%;
   background-color: DarkGoldenRod;
}
 